* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 0, 0);
}

h5 {
    margin: 20px;
    padding: 10px;
    color: white;
    border-radius: 10px;
    width: 40px;
    background-color: rgb(86, 93, 100);
}

a {
    text-decoration: none;
}

h5:hover {
    background-color: white;
    color: black;
}
#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    

}

.element-1 {
    width: 130px;
    height: 130px;
    background-color: yellow; 
    margin: 5px;
    animation: cima 2s infinite;
    position: relative;
}    

.element-2 {
    width: 130px;
    height: 130px;
    background-color: yellow; 
    margin: 5px;
    animation: baixo 2s infinite;
    position: relative;
}  

.element-3 {
    width: 130px;
    height: 130px;
    background-color: yellow;
    margin: 5px; 
    animation: cima 2s infinite;
    position: relative;
}  
  
@keyframes cima {
    0% {
        top: 0px;
    }

    25% {
        top: -130px;
    }
    
    50% {
        top: 0px;
    }

    75% {
        top: 130px;
    }

    100% {
        top: 0px;
    }
}

@keyframes baixo {
    0% {
        top: 0px;
    }

    25% {
        top: 130px;
    }
    
    50% {
        top: 0px;
    }

    75% {
        top: -130px;
    }

    100% {
        top: 0px;
    }
}



