* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 0, 0);
}

h5 {
    margin: 20px;
    padding: 10px;
    color: white;
    border-radius: 10px;
    width: 40px;
    background-color: rgb(86, 93, 100);
}

a {
    text-decoration: none;
}

h5:hover {
    background-color: white;
    color: black;
}
#container {
    display: flex;
    align-items: center;
    height: 100vh;
}

.element{
    width: 100px;
    height: 100px;
    border-radius: 360px;
    background-color: yellow;
    animation: deslocar;
    animation-duration: 3s;
    animation-iteration-count: 4;
    position: relative;
    margin-left: 100px;
}

@keyframes deslocar {
    0% {
        left: 0px;
        
    }
    
    50% {
        left: 900px;
        background-color: blue;
    }

    100% {
        left: 0px;
        background-color: bisque;
    }
}
