* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 0, 0);
}

h5 {
    margin: 20px;
    padding: 10px;
    color: white;
    border-radius: 10px;
    width: 40px;
    background-color: rgb(86, 93, 100);
}

a {
    text-decoration: none;
}

h5:hover {
    background-color: white;
    color: black;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.element {
    width: 50px;
    height: 50px;
    background-color: yellow;
    animation-name: vezes;
    animation-duration: 3s;
    position: relative;
}

@keyframes vezes {
    0% { 
        background-color: yellow;
    }

    25% { 
        background-color: blue;
        width: 200px;
        height: 200px;      
    }

    50% { 
        background-color: yellow; 
        width: 50px;
        height: 50px;      
    }

    75% { 
        background-color: red;
        width: 200px;
        height: 200px;       
    }

    100% { 
        background-color: yellow;
        width: 50px;
        height: 50px;      
    }
}